<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/css/app.css">
    <title>Test Styles</title>
</head>
<body>

    <div class="card">
        <div class="top">
            <!-- <img src="{{ url_for('static', filename='./images/MaryJane.png') }}" alt="User's Profile Photo"> -->
            <img src="../static/images/MaryJane.png" alt="User's Profile Photo">
            <h1 id="name">Mary Jane</h1>
            <p>@<span id="username">mjane</span>
            <br>Kingston, Jamaica
            <br>Joined <span id="date">January, 2018</span></p>
        </div>

        <div class="base">
            <p id="bio">I am smart and talented young woman who loves website design and development. Contact me if you'd like to work together on a new project.</p>
            
            <div class="details">
                <div class="columns">
                    <span id="posts">7</span>
                    <p>Posts</p>
                </div>
                <div class="columns">
                    <span id="following">100</span>
                    <p>Following</p>
                </div>
                <div class="columns">
                    <span id="followers">250</span>
                    <p>Followers</p>
                </div>
            </div>

            <button>Follow</button>
        </div>
    </div>
</body>
</html>